includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/KernelDevDebugContainer.xml
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        # PHP 8.0 deprecations (required parameter follows optional)
        - '#Deprecated in PHP 8\.0: Required parameter .* follows optional parameter.*#'
        # Test files - undefined properties/methods in test classes
        - '#Access to an undefined property.*Test::\$.*#'
        - '#Call to an undefined method.*Test::.*#'
        - '#Call to an undefined static method.*Spec::.*#'
        # Legacy Oro bundle issues
        - '#Call to an undefined method.*Oro\\Bundle.*#'
        - '#Method.*should return.*but return statement is missing#'
        - '#Non-abstract class.*contains abstract method.*#'
        - '#Class.*extends @final class.*#'
    excludePaths:
        - %currentWorkingDirectory%/src/Akeneo/Pim/Automation/DataQualityInsights/tests
        - %currentWorkingDirectory%/src/Akeneo/Pim/Enrichment/Bundle/Resources/fonts
        - %currentWorkingDirectory%/src/Akeneo/Pim/Platform/Job
        - %currentWorkingDirectory%/src/Akeneo/Pim/Enrichment/Product/back/Test/Specification
        - %currentWorkingDirectory%/src/Akeneo/Pim/Enrichment/Product/back/Test/Acceptance/Specification
        - %currentWorkingDirectory%/src/Akeneo/Pim/Enrichment/Category/back/Test/Acceptance/Specification
