framework:
    messenger:
        transports:
            # Producers
            business_event:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_BUSINESS_EVENT:test-business-event-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_BUSINESS_EVENT:test-business-event-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: pim_enrich.messenger.serializer.business_event

            # Consumers
            webhook:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_BUSINESS_EVENT:test-business-event-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_WEBHOOK:test-webhook-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: pim_enrich.messenger.serializer.business_event

            ui_job:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_JOB_QUEUE_UI:test-ui-job-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_JOB_QUEUE_UI:test-ui-job-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: akeneo_batch_queue.messenger.serializer
            import_export_job:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_JOB_QUEUE_IMPORT_EXPORT:test-import-export-job-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_JOB_QUEUE_IMPORT_EXPORT:test-import-export-job-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: akeneo_batch_queue.messenger.serializer
            data_maintenance_job:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_JOB_QUEUE_DATA_MAINTENANCE:test-data-maintenance-job-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_JOB_QUEUE_DATA_MAINTENANCE:test-data-maintenance-job-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: akeneo_batch_queue.messenger.serializer
            scheduled_job:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_JOB_QUEUE_SCHEDULED_JOB:test-scheduled-job-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_JOB_QUEUE_SCHEDULED_JOB:test-scheduled-job-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: akeneo_batch_queue.messenger.serializer
            paused_job:
                dsn: 'gps:'
                options:
                    project_id: '%env(default::string:GOOGLE_CLOUD_PROJECT:test-project)%'
                    topic_name: '%env(default::string:PUBSUB_TOPIC_JOB_QUEUE_PAUSED_JOB:test-paused-job-topic)%'
                    subscription_name: '%env(default::string:PUBSUB_SUBSCRIPTION_JOB_QUEUE_PAUSED_JOB:test-paused-job-subscription)%'
                    auto_setup: '%env(default::bool:PUBSUB_AUTO_SETUP:false)%'
                retry_strategy:
                    max_retries: 0
                serializer: akeneo_batch_queue.messenger.serializer

        routing:
            'Akeneo\Platform\Component\EventQueue\Event': business_event
            'Akeneo\Platform\Component\EventQueue\BulkEvent': business_event
            'Akeneo\Tool\Component\BatchQueue\Queue\UiJobExecutionMessage': ui_job
            'Akeneo\Tool\Component\BatchQueue\Queue\ImportJobExecutionMessage': import_export_job
            'Akeneo\Tool\Component\BatchQueue\Queue\ExportJobExecutionMessage': import_export_job
            'Akeneo\Tool\Component\BatchQueue\Queue\DataMaintenanceJobExecutionMessage': data_maintenance_job
            'Akeneo\Tool\Component\BatchQueue\Queue\ScheduledJobMessage': scheduled_job
            'Akeneo\Tool\Component\BatchQueue\Queue\PausedJobExecutionMessage': paused_job
